<div>
	<div class="btn-group">
       <a routerLink="/movies" type="button" class="btn btn-primary">Movies</a>
       <button class="btn btn-primary">TVShows</button>
	</div>
	<br>
	<div class="form-group">
		<label for="tvshow"></label>
		<input type="text" class="form-control" id="tvshow" placeholder="search" [(ngModel)]="searchStr" name="searchStr" minlength="3" (keyup)="searchTVShows()">
	</div>
	<div *ngIf="searchRes">
		<div class="col-lg-6" *ngFor="let tvshow of searchRes">
			<app-tvshow-desc [tvshow]="tvshow"></app-tvshow-desc>
		</div>
	</div>
	<div *ngIf="!searchRes">
		<div class="col-lg-6" *ngFor="let tvshow of tvshows">
			<app-tvshow-desc [tvshow]="tvshow"></app-tvshow-desc>
		</div>
</div>
