<div>
	<div class="btn-group">
       <button class="btn btn-primary" type="button">Movies</button>
        <a routerLink="/tv" type="button" class="btn btn-primary">TVShows</a>
	</div>
	<br>
	<div class="form-group">
		<label for="Movies"></label>
		<input type="text" class="form-control" id="Movies" placeholder="search" [(ngModel)]="searchStr" name="searchStr" minlength="3" (keyup)="searchMovies()">
	</div>
	<div *ngIf="searchRes">
		<div class="col-lg-6" *ngFor="let movie of searchRes; let i =index; ">
			<app-movie-desc [movie]="movie"></app-movie-desc>
		</div>
	</div>
	<div *ngIf="!searchRes">
		<div class="col-lg-6" *ngFor="let movie of popular; let i = index; ">
			<app-movie-desc [movie]="movie"></app-movie-desc>
		</div>
</div>